@use "global" as *;

.layout-archive {
  margin-top: rem(68);
  @include mq('md') {
    margin-top: rem(80);
  }
}

.layout-archive--single {
  margin-top: rem(60);
  @include mq('md') {
    margin-top: rem(80);
  }
}