@use 'global' as *;

.archive__contents {
  @include mq('md') {
    display: flex;
    column-gap: rem(30);
  }
}

.archive__main {
  @include mq('md') {
    width: 67%;
  }
}

.archive__item + .archive__item {
  margin-top: rem(20);
}

.archive__pagenavi {
  margin-top: rem(60);
  text-align: center;
  @include mq('md') {
    margin-top: rem(112);
  }
}

.archive__pagenavi--single {
  margin-top: rem(42);
  @include mq('md') {
    margin-top: rem(72);
  }
}

.page {
  display: inline-block;
  padding: rem(6) rem(11) rem(6);
  border-radius: rem(4);
  border: 1px solid $main;
  color: $main;
  background-color: $white;
  text-align: center;
  font-family: $base-font-family;
  font-size: rem(14);
  font-style: normal;
  font-weight: $normal;
  line-height: 1;
  transition: all 0.3s;
  @include mq('md') {
    padding: rem(7) rem(12) rem(7);
    line-height: normal;
  }
}

.page:hover {
  background-color: $main;
  color: $white;
}

.page.page--pc {
  display: none;
  @include mq('md') {
    display: inline-block;
  }
}

.page.page--single {
  padding: rem(10) rem(18) rem(10) rem(18);
  @include mq('md') {
    padding: rem(10) rem(17);
  }
}

.current {
  display: inline-block;
  padding: rem(6) rem(11) rem(6);
  border-radius: rem(4);
  border: 1px solid $main;
  color: $white;
  background-color: $main;
  text-align: center;
  font-family: $base-font-family;
  font-size: rem(14);
  font-style: normal;
  font-weight: $normal;
  line-height: 1;
  @include mq('md') {
    padding: rem(7) rem(12) rem(7);
    line-height: normal;
  }
}

.previouspostslink {
  display: inline-block;
  padding: rem(7) rem(15) rem(7) rem(37);
  border-radius: rem(4);
  border: 1px solid $main;
  color: $white;
  background-color: $main;
  text-align: center;
  font-family: $base-font-family;
  font-size: rem(14);
  font-style: normal;
  font-weight: $normal;
  line-height: 1;
  position: relative;
  @include mq('md') {
    line-height: normal;
  }
}

.previouspostslink.previouspostslink--single {
  padding: rem(9) rem(15) rem(9) rem(34);
  @include mq('md') {
    padding: rem(7) rem(16) rem(8) rem(34);
  }
}

.previouspostslink.previouspostslink--single p {
  display: inline-block;
}

.previouspostslink span {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: rem(16);
  display: inline-block;
  width: rem(16);
  height: rem(16);
  background-image: url(../images/common/pagenavi_arrow-circle_left.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.3s;
}

.previouspostslink:hover span {
  left: rem(8);
}

.nextpostslink {
  display: inline-block;
  padding: rem(7) rem(37) rem(7) rem(15);
  border-radius: rem(4);
  border: 1px solid $main;
  color: $white;
  background-color: $main;
  text-align: center;
  font-family: $base-font-family;
  font-size: rem(14);
  font-style: normal;
  font-weight: $normal;
  line-height: 1;
  position: relative;
  @include mq('md') {
    line-height: normal;
  }
}

.nextpostslink.nextpostslink--single {
  padding: rem(9) rem(37) rem(9) rem(15);
  @include mq('md') {
    padding: rem(7) rem(38) rem(8) rem(16);
  }
}

.nextpostslink.nextpostslink--single p {
  display: inline-block;
}

.nextpostslink span {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: rem(16);
  width: rem(16);
  height: rem(16);
  background-image: url(../images/common/pagenavi_arrow-circle_right.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.3s;
}

.nextpostslink:hover span {
  right: rem(8);
}

.archive__sidebar {
  margin-top: rem(100);
  @include mq('md') {
    margin-top: 0;
    width: 30%;
  }
}