@use 'global' as *;

.concept {
  position: relative;
  overflow: hidden;
}

.concept__inner {
  @include mq('md') {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}

.concept__content {
  @include mq('md') {
    margin-left: rem(95);
    width: 80%;
  }
}

.concept__section-title {
  color: $main;
  text-align: left;
  font-family: $base-font-family;
  font-size: rem(11);
  font-style: normal;
  font-weight: $bold;
  line-height: normal;
  letter-spacing: 0.1em;
  @include mq('md') {
    font-size: rem(14);
  }
}

.concept__title {
  margin-top: rem(14);
  color: $black;
  font-family: $base-font-family;
  font-size: rem(20);
  font-style: normal;
  font-weight: $bold;
  line-height: calc(32 / 20);
  letter-spacing: 0.08em;
  @include mq('md') {
    margin-top: rem(24);
    font-size: rem(28);
    line-height: calc(44 / 28);
    white-space: nowrap;
  }
}

.concept__lead {
  margin-top: rem(27);
  color: $black;
  font-family: $base-font-family;
  font-size: rem(14);
  font-style: normal;
  font-weight: $normal;
  line-height: calc(24 / 14);
  @include mq('md') {
    margin-top: rem(36);
  }
}

.concept__button {
  margin-top: rem(37);
  text-align: center;
  @include mq('md') {
    text-align: left;
  }
}

.concept__image {
  margin-top: rem(41);
  margin-left: calc(50% - 50vw);
  margin-right: rem(20);
  @include mq('md') {
    margin-top: 0;
    margin-right: 0;
  }
}

.concept__image img {
  aspect-ratio: 334 / 230;
  border-radius: 0 rem(20) rem(20) 0;
  @include mq('md') {
    aspect-ratio: 640 / 438;
  }
}

.concept__bg {
  position: absolute;
  top: 40%;
  left: 1%;
  width: rem(554);
  height: rem(304);
  background-image: url(../images/common/concept-bg_sp.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  @include mq('md') {
    top: 20%;
    left: 50%;
    width: rem(1726);
    height: rem(726);
    background-image: url(../images/common/concept-bg_pc.png);
  }
}

