@use 'global' as *;

.information {

}

.information__top-bg {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 375 / 34;
  object-fit: contain;
  @include mq('md') {
    aspect-ratio: 1280 / 107;
  }
}

.information__top-deco-nose {
  position: absolute;
  top: rem(-48);
  left: 50%;
  transform: translateX(-50%);
  width: rem(59);
  aspect-ratio: 1 /1 ;
  background-image: url(../images/common/information_top-deco-nose_sp.png);
  background-size: contain;
  background-repeat: no-repeat;
  @include mq('md') {
    top: rem(-96);
    width: rem(100);
    aspect-ratio: 100 / 90;
    background-image: url(../images/common/information_top-deco-nose_pc.png);
  }
}

.information__top-deco-right {
  position: absolute;
  top: rem(-16);
  right: 0;
  transform: translateX(-50%);
  width: rem(25);
  aspect-ratio: 1 /1 ;
  background-image: url(../images/common/information_top-deco-right_sp.png);
  background-size: contain;
  background-repeat: no-repeat;
  @include mq('md') {
    right: rem(8);
    top: rem(-32);
    width: rem(58);
    background-image: url(../images/common/information_top-deco-right_pc.png);
  }
}

.information__top-deco-left {
  position: absolute;
  top: rem(-44);
  left: rem(32);
  transform: translateX(-50%);
  width: rem(50);
  aspect-ratio: 50 / 55 ;
  background-image: url(../images/common/information_top-deco-left_sp.png);
  background-size: contain;
  background-repeat: no-repeat;
  @include mq('md') {
    width: rem(126);
    top: rem(-88);
    left: rem(86);
    aspect-ratio: 126 / 138;
    background-image: url(../images/common/information_top-deco-left_pc.png);
  }
}



.information__bg {
  background-color: $sub-2;
}

.information__inner {
  padding-top: rem(29);
  padding-bottom: rem(62);
  @include mq('md') {
    padding-top: 0;
    padding-bottom: rem(83);
  }
}

.information__title {
  text-align: center;
}

.information__list {
  margin-top: rem(40);
  @include mq('md') {
    margin-top: rem(60);
    display: flex;
    justify-content: center;
  }
}

.information__item + .information__item:not(:first-child) {
  margin-top: rem(20);
  @include mq('md') {
    margin-top: 0;
    margin-left: rem(80);
  }
}

.information__item-link {

}

.information__item-image1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/common/information_item-bg-img1_sp.jpg);
  aspect-ratio: 335 / 210;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: rem(20);
  @include mq('md') {
    padding: rem(76) rem(110);
    aspect-ratio: 460 / 290;
  }
}

.information__item-image2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/common/information_item-bg-img2_sp.jpg);
  aspect-ratio: 335 / 210;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: rem(20);
  @include mq('md') {
    padding: rem(76) rem(110);
    aspect-ratio: 460 / 290;
    background-image: url(../images/common/information_item-bg-img2_pc.jpg);
  }
}

.information__item-title {
  color: $white;
  text-align: center;
  font-family: $base-font-family;
  font-size: rem(20);
  font-style: normal;
  font-weight: $bold;
  line-height: normal;
  letter-spacing: 0.08em;
  position: relative;
  @include mq('md') {
    font-size: rem(28);
  }
}

.information__item-title::after {
  content: "";
  position: absolute;
  bottom: rem(-24);
  left: 50%;
  transform: translateX(-50%);
  width: rem(28);
  height: rem(2);
  background-color: $white;
}

.information__item-content {
  margin-top: rem(42);
  color: $white;
  text-align: center;
  font-family: $base-font-family;
  font-size: rem(12);
  font-style: normal;
  font-weight: $bold;
  line-height: normal;
  letter-spacing: 0.08em;
  @include mq('md') {
    font-size: rem(16);
    letter-spacing: 0.0457em;
  }
}

.information__text {
  margin-top: rem(21);
  padding: rem(18) rem(20);
  background-color: $white;
  color: $black;
  font-family: $base-font-family;
  font-size: rem(14);
  font-style: normal;
  font-weight: $normal;
  line-height: 1.71429;
  @include mq('md') {
    padding: rem(38) rem(40);
    margin-top: rem(60);
  }
}

.information__text span {
  color: $accent;
}

.information__bottom-bg {
  width: 100%;
  height: 100%;
  aspect-ratio: 375 / 34;
  object-fit: contain;
  position: relative;
  @include mq('md') {
    aspect-ratio: 1280 / 107;
  }
}

.information__bottom-deco-left {
  position: absolute;
  top: rem(-36);
  left: rem(24);
  transform: translateX(-50%);
  width: rem(24);
  aspect-ratio: 24 / 25 ;
  background-image: url(../images/common/information_bottom-deco-left_sp.png);
  background-size: contain;
  background-repeat: no-repeat;
  @include mq('md') {
    top: rem(-52);
    left: rem(70);
    width: rem(57);
    aspect-ratio: 57 / 56;
    background-image: url(../images/common/information_bottom-deco-left_pc.png);
  }
}

.information__bottom-deco-right {
  position: absolute;
  top: rem(-52);
  right: rem(-20);
  transform: translateX(-50%);
  width: rem(56);
  aspect-ratio: 56 / 60 ;
  background-image: url(../images/common/information_bottom-deco-right_sp.png);
  background-size: contain;
  background-repeat: no-repeat;
  @include mq('md') {
    top: rem(-114);
    right: rem(-42);
    width: rem(125.307);
    aspect-ratio: 125.307 / 138;
    background-image: url(../images/common/information_bottom-deco-right_pc.png);
  }
}



