@use 'global' as *;

.page-about {
  position: relative;
  overflow: hidden;
}

.page-about__title {
  text-align: center;
}

.page-about__inner {
  padding-top: rem(148);
  @include mq('md') {
    padding-top: rem(276);
  }
}

.page-about__item {
  @include mq('md') {
    display: flex;
    flex-direction: row-reverse;
  }
}

.page-about__item.page-about__item--second {
  margin-top: rem(100);
  @include mq('md') {
    margin-top: rem(190);
    flex-direction: initial;
  }
}

.page-about__content {
  @include mq('md') {
    margin-left: rem(95);
    width: 80%;
  }
}

.page-about__content.page-about__content--second {
  @include mq('md') {
    margin-left: 0;
    margin-top: rem(36);
  }
}

.page-about__features {
  color: $main;
  text-align: left;
  font-family: $base-font-family;
  font-size: rem(11);
  font-style: normal;
  font-weight: $bold;
  line-height: normal;
  letter-spacing: 0.1em;
  @include mq('md') {
    font-size: rem(14);
  }
}

.page-about__sub-title {
  margin-top: rem(14);
  color: $black;
  font-family: $base-font-family;
  font-size: rem(20);
  font-style: normal;
  font-weight: $bold;
  line-height: calc(32 / 20);
  letter-spacing: 0.08em;
  @include mq('md') {
    margin-top: rem(24);
    font-size: rem(28);
    line-height: calc(44 / 28);
  }
}

.page-about__lead {
  margin-top: rem(27);
  @include mq('md') {
    margin-top: rem(36);
  }
}

.page-about__lead p {
  color: $black;
  font-family: $base-font-family;
  font-size: rem(14);
  font-style: normal;
  font-weight: $normal;
  line-height: calc(24 / 14);
}

.page-about__image {
  margin-top: rem(36);
  margin-left: calc(50% - 50vw);
  margin-right: rem(20);
  @include mq('md') {
    margin-top: 0;
    margin-right: 0;
  }
}

.page-about__image.page-about__image--second {
  margin-right: calc(50% - 50vw);
  margin-left: rem(20);
  @include mq('md') {
    margin-left: rem(95);
  }
}

.page-about__image img {
  aspect-ratio: 334 / 230;
  border-radius: 0 rem(20) rem(20) rem(20);
  @include mq('md') {
    aspect-ratio: 640 / 438;
  }
}

.page-about__image.page-about__image--second img {
  border-radius: rem(20) 0 rem(20) rem(20);
}

.page-about__bg {
  position: absolute;
  top: 5%;
  left: calc(50% - min(48vw, 11.5rem));
  width: 150%;
  height: rem(308);
  background-image: url(../images/common/about-bg_sp.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  @include mq('md') {
    top: 7%;
    left: calc(50% - min(48vw, 13.5rem));
    width: rem(1726);
    height: 53%;
    background-image: url(../images/common/about-bg_pc.png);
  }
}