@use 'global' as *;

.page-reservation__item + .page-reservation__item {
  margin-top: rem(40);
}

.page-reservation__title {
  color: $black;
  font-family: $base-font-family;
  font-size: rem(20);
  font-style: normal;
  font-weight: $bold;
  line-height: normal;
  letter-spacing: 0.08em;
  @include mq('md') {
    font-size: rem(28);
  }
}

.page-reservation__tel {
  margin-top: rem(20);
  display: flex;
  align-items: center;
  color: $main;
  text-align: center;
  font-family: $base-font-family;
  font-size: rem(32);
  font-style: normal;
  font-weight: $bold;
  line-height: normal;
  position: relative;
  transition: all 0.3;
  @include mq('md') {
    margin-top: rem(24);
  }
}

.page-reservation__tel:hover {
  opacity: 0.7;
  cursor: pointer;
}

.page-reservation__tel img {
  margin-right: rem(4);
  display: inline-block;
  aspect-ratio: 1 / 1;
  width: rem(28);
}

.page-reservation__tel-text {
  content: "";
  position: absolute;
  bottom: rem(-14);
  left: rem(45);
  color: $main;
  text-align: center;
  font-family: $base-font-family;
  font-size: rem(12);
  font-style: normal;
  font-weight: $normal;
  line-height: normal;
}

.page-reservation__text {
  margin-top: rem(32);
  color: $black;
  font-family: $base-font-family;
  font-size: rem(14);
  font-style: normal;
  font-weight: $normal;
  line-height: calc(24 / 14);
  @include mq('md') {
    margin-top: rem(40);
  }
}

.page-reservation__text.page-reservation__text--second {
  margin-top: rem(22);
}

.page-reservation__section-title {
  margin-top: rem(92);
  text-align: center;
  @include mq('md') {
    margin-top: rem(150);
  }
}

.page-reservation__form {
  margin-top: rem(70);
  @include mq('md') {
    margin-top: rem(70);
  }
}

