@use 'global' as *;

.pc-nav__items {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}

.pc-nav__item.pc-nav__item--info {
  padding-left: min(1.4vw, rem(12));
  display: grid;
  place-content: center;
  place-items: center;
}

.pc-nav__item-link {
  position: relative;
}

.pc-nav__item-link:hover .pc-nav__item-title {
  color: $main;
}

.pc-nav__item-link:hover .pc-nav__item-icon {
  color: $main;
}

.pc-nav__item:hover .pc-nav__item-link::after{
  transform: scale(1 , 1);
}

.pc-nav__item.is-active .pc-nav__item-title{
  color: $main;
}

.pc-nav__item-link::after {
  content: '';
  margin-top: rem(8);
  display: inline-block;
  transform: scale(0 , 1);
  width: rem(20);
  height: 2px;
  background: $main;
  transition: all .3s;
}

.pc-nav__item.is-active .pc-nav__item-link::after {
  content: '';
  margin-top: rem(8);
  display: inline-block;
  transform: scale(1 , 1);
  width: rem(20);
  height: 2px;
  background: $main;
  transition: all .3s;
}

.pc-nav__item,
.pc-nav__item-link {
  height: inherit;
}

.pc-nav__item-link {
  @include mq('md') {
    display: grid;
    place-content: center;
    place-items: center;
    text-align: center;
    padding-left: min(1.4vw, rem(4));
    padding-right: min(1.4vw, rem(4));
    width: 100%;
  }
  @include mq('lg') {
    padding-left: min(1.4vw, rem(12));
    padding-right: min(1.4vw, rem(12));
  }
}

.pc-nav__icon-home {
  width: rem(18);
  height: rem(20);
  background-image: url(../images/common/header-icon_home.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.3s;
  position: relative;
}

.pc-nav__item.is-active .pc-nav__icon-home {
  background-image: url(../images/common/header-icon_home_blue.svg);
}

.pc-nav__item:hover .pc-nav__icon-home {
  background-image: url(../images/common/header-icon_home_blue.svg);
}

.pc-nav__icon-clinic {
  width: rem(24);
  height: rem(24);
  background-image: url(../images/common/header-icon_clinic.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.3s;
  position: relative;
}

.pc-nav__item.is-active .pc-nav__icon-clinic {
  background-image: url(../images/common/header-icon_clinic_blue.svg);
}
.pc-nav__item:hover .pc-nav__icon-clinic {
  background-image: url(../images/common/header-icon_clinic_blue.svg);
}

.pc-nav__icon-file-text {
  width: rem(24);
  height: rem(24);
  background-image: url(../images/common/header-icon_file-text.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.3s;
  position: relative;
}

.pc-nav__item.is-active .pc-nav__icon-file-text {
  background-image: url(../images/common/header-icon_file-text_blue.svg);
}
.pc-nav__item:hover .pc-nav__icon-file-text {
  background-image: url(../images/common/header-icon_file-text_blue.svg);
}

.pc-nav__icon-people {
  width: rem(24);
  height: rem(24);
  background-image: url(../images/common/header-icon_people.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.3s;
  position: relative;
}

.pc-nav__item.is-active .pc-nav__icon-people {
  background-image: url(../images/common/header-icon_people_blue.svg);
}
.pc-nav__item:hover .pc-nav__icon-people {
  background-image: url(../images/common/header-icon_people_blue.svg);
}

.pc-nav__icon-edit {
  width: rem(24);
  height: rem(24);
  background-image: url(../images/common/header-icon_edit.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.3s;
  position: relative;
}

.pc-nav__item.is-active .pc-nav__icon-edit {
  background-image: url(../images/common/header-icon_edit_blue.svg);
}
.pc-nav__item:hover .pc-nav__icon-edit {
  background-image: url(../images/common/header-icon_edit_blue.svg);
}

.pc-nav__icon-email {
  width: rem(24);
  height: rem(24);
  background-image: url(../images/common/header-icon_email.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.3s;
  position: relative;
}

.pc-nav__item.is-active .pc-nav__icon-email {
  background-image: url(../images/common/header-icon_email_blue.svg);
}
.pc-nav__item:hover .pc-nav__icon-email {
  background-image: url(../images/common/header-icon_email_blue.svg);
}

.pc-nav__item-title {
  margin-top: rem(6);
  font-size: rem(11);
  font-weight: $bold;
  font-family: $base-font-family;
  line-height: normal;
  color: $black;
  white-space: nowrap;
  transition: 0.3s;
}

.pc-nav__item-address {
  color: $black;
  font-family: $base-font-family;
  font-size: rem(12);
  font-style: normal;
  font-weight: $normal;
  line-height: normal;
  text-align: right;
  width: 100%;
}

.pc-nav__item-tel {
  display: flex;
  align-items: center;
  transition: all 0.3;
}

.pc-nav__item-tel:hover {
  opacity: 0.7;
}

.pc-nav__item-tel img {
  aspect-ratio: 1 / 1;
  width: rem(28);
}

.pc-nav__item-tel a {
  margin-left: rem(4);
  display: inline-block;
  color: $main;
  text-align: center;
  font-family: $base-font-family;
  font-size: rem(32);
  font-style: normal;
  font-weight: $bold;
  line-height: normal;
  letter-spacing: 0.01em;
  white-space: nowrap;
}