@use 'global' as *;

.pc-nav__items {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}

.pc-nav__item.pc-nav__item--info {
  padding-left: min(1.4vw, rem(12));
  display: grid;
  place-content: center;
  place-items: center;
}

.pc-nav__item-link {
  position: relative;
}

.pc-nav__item-link:hover .pc-nav__item-title {
  color: $main;
}

.pc-nav__item-link:hover .pc-nav__item-icon {
  color: $main;
}

.pc-nav__item-link::after {
  content: '';
  /*絶対配置で線の位置を決める*/
  position: absolute;
  bottom: rem(10);
  left: 30%;
  /*線の形状*/
  width: rem(20);
  height: 1px;
  background: $main;
  /*アニメーションの指定*/
  transition: all .3s;
  transform: scale(0, 1);/*X方向0、Y方向1*/
  transform-origin: center top;/*上部中央基点*/
}

/*現在地とhoverの設定*/
// .pc-nav__items li.pc-nav__item a::after,
.pc-nav__item-link:hover::after {
  transform: scale(1, 1);/*X方向にスケール拡大*/
}

.pc-nav__item,
.pc-nav__item-link {
  height: inherit;
}

.pc-nav__item-link {
  @include mq('md') {
    display: grid;
    place-content: center;
    place-items: center;
    text-align: center;
    padding-left: min(1.4vw, rem(8));
    padding-right: min(1.4vw, 0);
    width: 100%;
  }
  @include mq('lg') {
    padding-left: min(1.4vw, rem(8));
    padding-right: min(1.4vw, rem(16));
  }
}

.pc-nav__item-icon {
  width: rem(24);
  height: rem(24);
  position: relative;
}

.pc-nav__item-title {
  margin-top: rem(6);
  font-size: rem(11);
  font-weight: $bold;
  font-family: $base-font-family;
  line-height: normal;
  color: $black;
  white-space: nowrap;
  transition: 0.3s;
}

.pc-nav__item-address {
  color: $black;
  font-family: $base-font-family;
  font-size: rem(12);
  font-style: normal;
  font-weight: $normal;
  line-height: normal;
  text-align: right;
  width: 100%;
}

.pc-nav__item-tel {
  display: flex;
  align-items: center;
}

.pc-nav__item-tel img {
  aspect-ratio: 1 / 1;
  width: rem(28);
}

.pc-nav__item-tel a {
  margin-left: rem(4);
  display: inline-block;
  color: $main;
  text-align: center;
  font-family: $base-font-family;
  font-size: rem(32);
  font-style: normal;
  font-weight: $bold;
  line-height: normal;
  letter-spacing: 0.01em;
  white-space: nowrap;
}
