@use 'global' as *;

.section-title {
  display: inline-block;
  color: $black;
  text-align: center;
  font-family: $base-font-family;
  font-size: rem(20);
  font-style: normal;
  font-weight: $bold;
  line-height: normal;
  letter-spacing: 0.08em;
  position: relative;
  @include mq('md') {
    font-size: rem(28);
  }
}

.section-title::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: rem(-60);
  width: rem(49);
  height: rem(13);
  background-image: url(../images/common/section-title_deco.png);
  background-repeat: no-repeat;
  background-size: contain;
  @include mq('md') {
    width: rem(67);
    height: rem(20);
    left: rem(-92);
  }
}

.section-title::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: rem(-80);
  width: rem(60);
  height: rem(13);
  background-image: url(../images/common/section-title_deco.png);
  background-repeat: no-repeat;
  background-size: contain;
  @include mq('md') {
    width: rem(67);
    height: rem(20);
    right: rem(-92);
  }
}